
<div class="row" style="background-color: #f5f7fb;padding: 20px;overflow-x: hidden;
overflow-y: scroll;
height: 87.5vh;">

   <div class="col-4"><h1>Overview</h1></div>
   <div class="col-8">
    <Button class="btn-pr" style="float: right;">Add Funds <span>+</span></Button>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="row g-4">
          <div class="col-md-6">
            <div class="card-box">
              <p>Statistics</p>
              <hr>
              <div echarts [options]="chartOption" class="demo-chart"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-box">
              <p>Sales Distribution</p>
              <hr>
              <div echarts [options]="option" class="demo-chart"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-box">
              <p>Referrer</p>
              <table style="width: 100%;">
                <thead>
                  <tr style="background-color: #f5f6fa;color: #bec1cb;">
                    <th>Location</th>
                    <th>View</th>
                    <th>Sales</th>
                    <th>Conversion</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                  <tr>
                    <td>Google.com</td>
                    <td>3745</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                  </tr>
                </tbody>
              </table>
              <p style="    margin-top: 20px;
              color: #81b1ff;">See More</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="row g-4">
          <div class="col-md-12">
            <div class="card-box">
              <div class="row">
                <div class="col-12" style="justify-content: center;
                display: flex;">
              <img style="width: 30%;border-radius: 100%;" src="../../assets/images/profile/profile-pic-01.jpg" alt="">

                </div>
                <div class="col-12">
                  <h3 class="text-center" style="margin-top: 5px;
                  font-weight: 500;
                  margin-bottom: 0px;">Nick Herasimenka</h3>
                <p class="text-center" style="font-size: 12px;
                color: #9ea0a2;">United States</p>
                </div>
                <div class="col-12" style="display: flex;
                justify-content: center;
                gap: 20px;
                color: #bbc1c8;">
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-linkedin"></i>
                  <i class="fa-brands fa-whatsapp"></i>
                </div>

                <div class="col-12" >
                  <hr>
                </div>
                <div class="col-12">
                  <p>Our Users</p>
                </div>
                <div class="col-12" style="margin-bottom: 20px;">
                  <div class="row">
                    <div class="col-3"><img style="width: 100%; border-radius: 100%;" src="..//../assets/images/profile/profile-pic-02.jpg" alt=""></div>
                    <div class="col-5" style="display: flex;
                    flex-direction: column;
                    justify-content: center;">
                      <h3 style="font-weight: 500;
                  margin-bottom: 0px;">Bavid Kames</h3>
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                    <div class="col-4" style="display: flex;align-items:center">
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                  </div>
                </div>
                <div class="col-12" style="margin-bottom: 20px;">
                  <div class="row">
                    <div class="col-3"><img style="width: 100%; border-radius: 100%;" src="..//../assets/images/profile/profile-pic-03.jpg" alt=""></div>
                    <div class="col-5" style="display: flex;
                    flex-direction: column;
                    justify-content: center;">
                      <h3 style="font-weight: 500;
                  margin-bottom: 0px;">Lavid Emes</h3>
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                    <div class="col-4" style="display: flex;align-items:center">
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-3"><img style="width: 100%; border-radius: 100%;" src="..//../assets/images/profile/profile-pic-04.jpg" alt=""></div>
                    <div class="col-5" style="display: flex;
                    flex-direction: column;
                    justify-content: center;">
                      <h3 style="font-weight: 500;
                  margin-bottom: 0px;">Drew James</h3>
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                    <div class="col-4" style="display: flex;align-items:center">
                      <p style="font-size: 12px;
                      color: #9ea0a2;">United States</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-box">
              <p>Product Video</p>
              <video style="width:100%;border-radius: 5px;"
              controls poster=
   "../../assets/images/profile/video thumbnail.png">
           <source src=
   "https://media.geeksforgeeks.org/wp-content/uploads/20200409094356/Placement100-_-GeeksforGeeks2.mp4"
                   type="video/mp4">
       </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
